<div class="wishlist-button absolute left-3 bottom-10 z-[2]">
  <button
    class="wk-button {% if floating %}wk-floating{% endif %}"
    data-product-handle="{{ product_handle }}"
    data-variant-id="{{ variant_id }}"
    type="button"
    name="wishlist button"
  >
    <span class="wk-icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="19" height="21.001" viewBox="0 0 19 21.001">
        <g id="Subtraction_10" data-name="Subtraction 10" fill="none">
          <path d="M19,21h-.477L9.5,14.371.477,21H0V0H19V21Z" stroke="none"/>
          <path d="M 17.79980087280273 18.98005867004395 L 17.79980087280273 1.20000171661377 L 1.200000762939453 1.20000171661377 L 1.200000762939453 18.98005867004395 L 9.499900817871094 12.88192176818848 L 17.79980087280273 18.98005867004395 M 18.99980163574219 21.00120162963867 L 18.52313995361328 21.00058174133301 L 9.499900817871094 14.37099170684814 L 0.476660817861557 21.00058174133301 L 8.178710686479462e-07 21.00058174133301 L 8.178710686479462e-07 1.768493689269235e-06 L 18.99980163574219 1.768493689269235e-06 L 18.99980163574219 21.00120162963867 Z" stroke="none" fill="#000"/>
        </g>
      </svg>
      
    </span>
    <span class="wk-text"></span>
  </button>
</div>
