<section class="w-full pt-24 pb-36 px-4 isolate overflow-hidden bg-primary-black  relative w-full h-full py-8 min-h-[450px] bg-cover bg-no-repeat">
    <div class="absolute inset-x-0 top-1/2 -z-10 -translate-y-1/2 transform-gpu overflow-hidden opacity-30 blur-3xl" aria-hidden="true">
        <div class="ml-[max(50%,38rem)] aspect-[1613/771] w-[100.0625rem] bg-gradient-to-tr from-dark-green to-light-green opacity-70" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
      </div>
      <div class="absolute inset-x-0 top-0 -z-10 flex transform-gpu overflow-hidden pt-32 opacity-25 blur-3xl sm:pt-40 xl:justify-end" aria-hidden="true">
        <div class="ml-[-22rem] aspect-[1313/771] w-[100.0625rem] flex-none origin-top-right rotate-[60deg] bg-gradient-to-tr from-dark-green to-light-green  xl:ml-0 xl:mr-[calc(50%-12rem)]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
      </div>
      <div class="col-span-6 col-start-4 flex justify-start items-start max-w-screen-pageMaxWidth mx-auto  flex-col gap-y-2 pb-4 w-full mb-12 sm:mb-20">
        <p class="text-lg/7 font-bold uppercase text-primary-orange text-left">Smelt sauna</p>
        <h3 class="Heading tracking-tight text-7xl/none font-bold text-[#F7F4EC] text-left">Sammelignet med andre saunaer</h3>
        
    </div>

    <div class="flex flex-col gap-y-8 max-w-screen-pageMaxWidth mx-auto">


        <section aria-labelledby="comparison-heading" class="w-full relative z-10">

  
          <div class="grid grid-cols-4 gap-x-8 items-center before:block">
            <div aria-hidden="true" class="-mt-px">
              <div class="w-[80px] sm:w-[140px] mx-auto">
                
                    <img src="https://cdn.shopify.com/s/files/1/0682/1229/3772/files/smelt-logo-brand-4.svg?v=1734299841">
                  
                
              </div>
            </div>
            <div aria-hidden="true" class="-mt-px">
              <div class="">
                <p class="text-base sm:text-lg/6 text-center font-bold text-white">Traditionel sauna</p>
                
              </div>
            </div>
            <div aria-hidden="true" class="-mt-px">
              <div class="">
                <p class="text-base sm:text-lg/6 text-center font-bold text-white">infrarød sauna</p>
                
              </div>
            </div>
          </div>
  
          <div class="-mt-6 space-y-16">
            <div>
              <h3 class="text-lg/6 font-semibold text-white hidden">Egenskaber/ fordele</h3>
              <div class="relative mx-1 sm:-mx-8 mt-10">
                <!-- Fake card backgrounds -->
                <div class="absolute inset-x-0.5 sm:inset-x-4 md:inset-x-8 inset-y-0 grid grid-cols-4 gap-x-0.5 sm:gap-x-2 before:block" aria-hidden="true">
                  <div class="size-full bg-[#ffffff3b] border-2 border-light-green shadow-sm"></div>
                  <div class="size-full bg-[#ffffff3b] shadow-sm"></div>
                  <div class="size-full bg-[#ffffff3b] shadow-sm"></div>
                </div>
  
                <table class="relative w-full border-separate border-spacing-x-0.5 sm:border-spacing-x-4 md:border-spacing-x-8">
                  <thead>
                    <tr class="text-left">
                      <th scope="col">
                        <span class="sr-only">Egenskaber</span>
                      </th>
                      <th scope="col">
                        <span class="sr-only">Logo</span>
                      </th>
                      <th scope="col">
                        <span class="sr-only">Traditionel sauna</span>
                      </th>
                      <th scope="col">
                        <span class="sr-only">Infrarød sauna</span>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row" class="w-1/4 py-3 sm:py-6 pr-1 sm:pr-4 text-left text-sm sm:text-lg/6 font-normal text-white">
                        Transportabel og let
                        <div class="absolute inset-x-0.5 sm:inset-x-4 md:inset-x-8 mt-3 h-px bg-gray-500"></div>
                      </th>
                      <td class="relative w-1/4 px-1 sm:px-4 py-3 sm:py-6 text-center">
                        <span class="relative size-full py-3">
                          <svg class="mx-auto h-6 w-6 sm:h-8 sm:w-8 -mt-3 text-light-green" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                          </svg> 
                          <span class="sr-only">Yes</span>
                        </span>
                      </td>
                      <td class="relative w-1/4 px-1 sm:px-4 py-3 sm:py-6 text-center">
                        <span class="relative size-full py-3">
                            <svg class="mx-auto h-8 w-8 -mt-3 text-primary-red" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                              <path d="M6.28 5.22a.75.75 0 0 0-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 1 0 1.06 1.06L10 11.06l3.72 3.72a.75.75 0 1 0 1.06 1.06L11.06 10l3.72-3.72a.75.75 0 0 0-1.06-1.06L10 8.94 6.28 5.22Z" />
                            </svg>
                            <span class="sr-only">No</span>
                          </span>
                      </td>
                      <td class="relative w-1/4 px-4 py-6 text-center">
                        <span class="relative size-full py-3">
                            <svg class="mx-auto h-8 w-8 -mt-3 text-primary-red" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                              <path d="M6.28 5.22a.75.75 0 0 0-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 1 0 1.06 1.06L10 11.06l3.72 3.72a.75.75 0 1 0 1.06-1.06L11.06 10l3.72-3.72a.75.75 0 0 0-1.06-1.06L10 8.94 6.28 5.22Z" />
                            </svg>
                            <span class="sr-only">No</span>
                          </span>
                          </td>
                    </tr>
                    <tr>
                      <th scope="row" class="w-1/4 py-3 sm:py-6 pr-1 sm:pr-4 text-left text-sm sm:text-lg/6 font-normal text-white">
                        Brændefyret
                        <div class="absolute inset-x-1 sm:inset-x-4 md:inset-x-8 mt-3 h-px bg-gray-500"></div>
                      </th>
                      <td class="relative w-1/4 px-4 py-6 text-center">
                        <span class="relative size-full py-3">
                            <svg class="mx-auto h-8 w-8 -mt-3 text-light-green" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                            </svg>
                            <span class="sr-only">Yes</span>
                          </span>
                      </td>
                      <td class="relative w-1/4 px-4 py-6 text-center">
                        <span class="relative size-full py-3">
                            <svg class="mx-auto h-8 w-8 -mt-3 text-light-green" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                            </svg>
                            <span class="sr-only">Yes</span>
                          </span>
                      </td>
                      <td class="relative w-1/4 px-4 py-6 text-center">
                        <span class="relative size-full py-3">
                            <svg class="mx-auto h-8 w-8 -mt-3 text-primary-red" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                              <path d="M6.28 5.22a.75.75 0 0 0-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 1 0 1.06 1.06L10 11.06l3.72 3.72a.75.75 0 1 0 1.06-1.06L11.06 10l3.72-3.72a.75.75 0 0 0-1.06-1.06L10 8.94 6.28 5.22Z" />
                            </svg>
                            <span class="sr-only">No</span>
                          </span>
                    </tr>
                    <tr>
                      <th scope="row" class="w-1/4 py-3 sm:py-6 pr-1 sm:pr-4 text-left text-sm sm:text-lg/6 font-normal text-white">
                        Ingen byggetilladelse
                        <div class="absolute inset-x-1 sm:inset-x-4 md:inset-x-8 mt-3 h-px bg-gray-500"></div>
                      </th>
                      <td class="relative w-1/4 px-4 py-6 text-center">
                        <span class="relative size-full py-3">
                            <svg class="mx-auto h-8 w-8 -mt-3 text-light-green" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                            </svg>
                            <span class="sr-only">Yes</span> 
                          </span>
                      </td>
                      <td class="relative w-1/4 px-4 py-6 text-center"> 
                        <span class="relative size-full py-3">
                            <svg class="mx-auto h-8 w-8 -mt-3 text-primary-red" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path d="M6.28 5.22a.75.75 0 0 0-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 1 0 1.06 1.06L10 11.06l3.72 3.72a.75.75 0 1 0 1.06-1.06L11.06 10l3.72-3.72a.75.75 0 0 0-1.06-1.06L10 8.94 6.28 5.22Z" />
                            </svg>
                            <span class="sr-only">No</span>
                        </span>
                      </td>
                      <td class="relative w-1/4 px-4 py-6 text-center">
                        <span class="relative size-full py-3">
                            <svg class="mx-auto h-8 w-8 -mt-3 text-primary-red" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                              <path d="M6.28 5.22a.75.75 0 0 0-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 1 0 1.06 1.06L10 11.06l3.72 3.72a.75.75 0 1 0 1.06-1.06L11.06 10l3.72-3.72a.75.75 0 0 0-1.06-1.06L10 8.94 6.28 5.22Z" />
                            </svg>
                            <span class="sr-only">No</span>
                          </span>
                    </tr>
                    <tr>
                        <th scope="row" class="w-1/4 py-3 sm:py-6 pr-1 sm:pr-4 text-left text-sm sm:text-lg/6 font-normal text-white">Prisvenlig
                          <div class="absolute inset-x-1 sm:inset-x-4 md:inset-x-8 mt-3 h-px bg-gray-500"></div>
                        </th>
                        <td class="relative w-1/4 px-4 py-6 text-center">
                          <span class="relative size-full py-3">
                              <svg class="mx-auto h-8 w-8 -mt-3 text-light-green" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                              </svg>
                              <span class="sr-only">Yes</span>
                            </span>
                        </td>
                        <td class="relative w-1/4 px-4 py-6 text-center">
                          <span class="relative size-full py-3">
                              <svg class="mx-auto h-8 w-8 -mt-3 text-primary-red" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path d="M6.28 5.22a.75.75 0 0 0-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 1 0 1.06 1.06L10 11.06l3.72 3.72a.75.75 0 1 0 1.06-1.06L11.06 10l3.72-3.72a.75.75 0 0 0-1.06-1.06L10 8.94 6.28 5.22Z" />
                              </svg>
                              <span class="sr-only">No</span>
                            </span>
                        </td>
                        <td class="relative w-1/4 px-4 py-6 text-center">
                          <span class="relative size-full py-3">
                            <svg class="mx-auto h-8 w-8 -mt-3 text-primary-red" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                              <path d="M6.28 5.22a.75.75 0 0 0-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 1 0 1.06 1.06L10 11.06l3.72 3.72a.75.75 0 1 0 1.06-1.06L11.06 10l3.72-3.72a.75.75 0 0 0-1.06-1.06L10 8.94 6.28 5.22Z" />
                            </svg>
                            <span class="sr-only">No</span>
                          </span>
                        </td>
                      </tr>
                    <tr>
                      <th scope="row" class="w-1/4 py-3 sm:py-6 pr-1 sm:pr-4 text-left text-sm sm:text-lg/6 font-normal text-white">Opsættes på 10 min
                        <div class="absolute inset-x-1 sm:inset-x-4 md:inset-x-8 mt-3 h-px bg-gray-500"></div>
                      </th>
                      <td class="relative w-1/4 px-4 py-6 text-center">
                        <span class="relative size-full py-3">
                            <svg class="mx-auto h-8 w-8 -mt-3 text-light-green" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                            </svg>
                            <span class="sr-only">Yes</span>
                          </span>
                      </td>
                      <td class="relative w-1/4 px-4 py-6 text-center">
                        <span class="relative size-full py-3">
                            <svg class="mx-auto h-8 w-8 -mt-3 text-primary-red" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                              <path d="M6.28 5.22a.75.75 0 0 0-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 1 0 1.06 1.06L10 11.06l3.72 3.72a.75.75 0 1 0 1.06-1.06L11.06 10l3.72-3.72a.75.75 0 0 0-1.06-1.06L10 8.94 6.28 5.22Z" />
                            </svg>
                            <span class="sr-only">No</span>
                          </span>
                      </td>
                      <td class="relative w-1/4 px-4 py-6 text-center">
                        <span class="relative size-full py-3">
                          <svg class="mx-auto h-8 w-8 -mt-3 text-primary-red" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path d="M6.28 5.22a.75.75 0 0 0-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 1 0 1.06 1.06L10 11.06l3.72 3.72a.75.75 0 1 0 1.06-1.06L11.06 10l3.72-3.72a.75.75 0 0 0-1.06-1.06L10 8.94 6.28 5.22Z" />
                          </svg>
                          <span class="sr-only">No</span>
                        </span>
                      </td>
                    </tr>
                    <tr>
                        <th scope="row" class="w-1/4 py-3 sm:py-6 pr-1 sm:pr-4 text-left text-sm sm:text-lg/6 font-normal text-white">+100 grader
                          <div class="absolute inset-x-1 sm:inset-x-4 md:inset-x-8 mt-3 h-px bg-gray-500"></div>
                        </th>
                        <td class="relative w-1/4 px-4 py-6 text-center">
                            <span class="relative size-full py-3">
                                <svg class="mx-auto h-8 w-8 -mt-3 text-light-green" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                                </svg>
                                <span class="sr-only">Yes</span>
                              </span>
                        </td>
                        <td class="relative w-1/4 px-4 py-6 text-center">
                          <span class="relative size-full py-3">
                            <svg class="mx-auto h-8 w-8 -mt-3 text-light-green" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                            </svg>
                            <span class="sr-only">Yes</span>
                          </span>
                        </td>
                        <td class="relative w-1/4 px-4 py-6 text-center">
                          <span class="relative size-full py-3">
                            <svg class="mx-auto h-8 w-8 -mt-3 text-primary-red" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                              <path d="M6.28 5.22a.75.75 0 0 0-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 1 0 1.06 1.06L10 11.06l3.72 3.72a.75.75 0 1 0 1.06 1.06L11.06 10l3.72-3.72a.75.75 0 0 0-1.06-1.06L10 8.94 6.28 5.22Z" />
                            </svg>
                            <span class="sr-only">No</span>
                          </span>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row" class="w-1/4 py-3 sm:py-6 pr-1 sm:pr-4 text-left text-sm sm:text-lg/6 font-normal text-white">Elektrisk
                          
                        </th>
                        <td class="relative w-1/4 px-4 py-6 text-center">
                          <span class="relative size-full py-3">
                            <svg class="mx-auto h-8 w-8 -mt-3 text-primary-red" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                              <path d="M6.28 5.22a.75.75 0 0 0-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 1 0 1.06 1.06L10 11.06l3.72 3.72a.75.75 0 1 0 1.06-1.06L11.06 10l3.72-3.72a.75.75 0 0 0-1.06-1.06L10 8.94 6.28 5.22Z" />
                            </svg>
                            <span class="sr-only">No</span>
                          </span>
                        </td> 
                        <td class="relative w-1/4 px-4 py-6 text-center">
                            <span class="relative size-full py-3">
                                <svg class="mx-auto h-8 w-8 -mt-3 text-primary-red" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                  <path d="M6.28 5.22a.75.75 0 0 0-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 1 0 1.06 1.06L10 11.06l3.72 3.72a.75.75 0 1 0 1.06 1.06L11.06 10l3.72-3.72a.75.75 0 0 0-1.06-1.06L10 8.94 6.28 5.22Z" />
                                </svg>
                                <span class="sr-only">No</span>
                              </span>
                        </td>
                        <td class="relative w-1/4 px-4 py-6 text-center">
                            <span class="relative size-full py-3"> 
                                <svg class="mx-auto h-8 w-8 -mt-3 text-light-green" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                                </svg>
                                <span class="sr-only">Yes</span>
                              </span>
                        </td>
                      </tr>
                  </tbody>
                </table>
  
     
              </div>
            </div>
            
            
          </div>
        </section>


    
  </div>
</section>


{% schema %}
{
  "name": "Comparison section",
  "settings": [
   
  ],
  "presets": [
    {
      "name": "Comparison section",
      "category": "section"
    }
  ]
}
{% endschema %}