<div class="min-h-[70vh] flex flex-col justify-center items-center bg-primary-bg">
    <div class="w-[500px] flex flex-col items-center gap-y-8 py-14 px-8 rounded-md bg-white">
        <div class="">
            <h3 class="Heading font-bold text-9xl text-center">{{ 'general.404.404' | t }}</h3>
            <h1 class="Heading pt-2 text-2xl">{{ 'general.404.title' | t }}</h1>
        </div>
        <a href="{{ routes.all_products_collection_url }}" class="Button Button_primary">
            {{ 'general.404.subtext' | t }}
        </a>
    </div>
</div>